<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <div th:fragment="header">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/image/logo.png}" alt="">
            </a>
            <div class="navbar ml-auto" >
                <div th:if="${logged_user}" class="nav-item nav-link">
                    <a class="logged-text d-none d-sm-inline" th:text="'Conectado como ' + ${logged_user.name}"></a>
                    <a class="logout-btn btn" th:href="@{/logout}">Sair</a>
                </div>
            </div>
        </nav>
    </div>
</html>