
.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #2dbeb1;;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.brand_logo {
    height: 235px;
    object-fit: scale-down;
    width: 125px;
}

.login_container {
    padding: 0 2rem;
}

.login_btn {
    width: 100%;
}
