.user-card {
    width: 350px;
}

.brand_logo {
    height: 200px;
    object-fit: cover;
    width: 150px;
    object-position: 100% 0;
}

.login_container {
    padding: 0 2rem;
}

.login_btn {
    width: 100%;
    margin: 15px;
}
