/* Coded with love by Mutiullah Samim */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #EAE2D5 url("../image/bg.png");
}

a {
    color: #511684;
    font-weight: 600;
}

a:hover {
    color: #F84914;
    text-decoration: underline;
}

.header .navbar {
    height: 10vh;
}