<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name=viewport content="width=device-width,initial-scale=1">
</head>
<body>
<h1>This is a Board</h1>
<div id="ggb-element"></div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://www.geogebra.org/apps/deployggb.js"></script>
<script>
    var height =  $(window).height();
    var width = $(window).width();
    var params = {"appName": "notes", "width": width, "height": height, "showToolBar": true, "showAlgebraInput": true, "showMenuBar": true };
    var applet = new GGBApplet(params, true);
    window.addEventListener("load", function() {
        applet.inject('ggb-element');
    });
</script>
</html>