<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="~{layouts/main}">
    <head>
        <title th:text="@{${classroom.name}}"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <th:block layout:fragment="style">
            <link type="text/css" rel="stylesheet" th:href="@{/css/classroom.css}"/>
        </th:block>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="content-container m-auto my-2">
                            <div class="content">
                                <h1 th:text="@{${classroom.name}}"></h1>
                                <div>
                                    <div>
                                        <span class="standard-text">Olá,</span><span class="important-text" th:text="${logged_user.name}"></span><span class="standard-text">!</span>
                                    </div>
                                    <div>
                                        <span class="standard-text">Seu par é</span><span class="important-text" th:text="@{((${pair.student1.id} == ${logged_user.id}) ? ${pair.student2.name} : ${pair.student1.name})}"></span><span class="standard-text">.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="content-container m-auto">
                            <span class="important-text">Exercícios</span>
                            <div class="card content-card classroom-card">
                                <div id="list">
                                    <table class="exercise table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Descrição</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody th:each="exercise : ${classroom.exercises}">
                                        <tr>
                                            <td th:text="${exercise.description}"></td>
                                            <td>
                                                <a th:href="@{'/session/' + ${exercise.id} + '/' + ${pair.id}}" class="btn join_btn"></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block layout:fragment="script">
            <script type="text/javascript" th:src="@{/js/classroom.js}"></script>
        </th:block>
    </body>
</html>