<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="~{layouts/main}">
    <head>
        <title>Board</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <th:block layout:fragment="style">
            <link type="text/css" rel="stylesheet" th:href="@{/css/board.css}"/>
        </th:block>
    </head>
    <body>
        <div layout:fragment="content">
            <input hidden class="user-username" th:value="${logged_user.username}">
            <input hidden class="pair-id" th:value="${pair.id}">
            <input hidden class="pair-student1-username" th:value="${pair.student2.username}">
            <input hidden class="pair-student2-username" th:value="${pair.student1.username}">
            <input hidden class="exercise-id" th:value="${exercise.id}">
            <input hidden class="exercise-description" th:value="${exercise.description}">
            <input hidden class="session-id" th:value="${session.id}">
            <div class="wt-board" id="wt-container"></div>
        </div>
        <th:block layout:fragment="script">
            <script src="https://www.whiteboard.team/dist/api.js"></script>
            <script type="text/javascript" th:src="@{/js/session.js}"></script>
        </th:block>
    </body>
</html>